*{
    margin: 0;
}

body{
    background-image: url('pattern-background-desktop.svg');
}

.container{
    margin:70px auto;
    width: 330px;
    height: 700px;
    border-radius:18px;
    background-color: white;
}

.illustration-img{
    width: 100%;
    height: 30%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}


.desc{
    text-align: center;
    padding: 15px auto;
}

.desc-text{
    margin: 15px 20px 15px;
    font-size: 1.6rem;
    font-family:"Arial";
    font-weight: 900;
}

.desc-subtext{
    margin-top: 0;
    font-size:1.1rem;
    line-height: 1.75;
    font-family:"Red Hat Display";
    font-weight: 500;
    padding:  8px 15px;
}

.plan-prices{
    background-color: hsl(225, 100%, 98%);
    margin: 30px auto 35px;
    width: 80%;
    border-radius: 10px;
    padding: 7px;
    font-weight: 700;
    
}

.music-icon{
    border-radius: 50%;
    position: relative;
    top: 10px;
}

.plan-type{
    position: relative;
    left: 13px;
    bottom: 25px;
    font-family:"Red Hat Display";
    font-weight: 700;
}

.plan-price{
    position: relative;
    right: 79px;
    bottom: 4px;
    font-family:"Red Hat Display";
    font-weight: 700;
}

.plan-change{
    position: relative;
    bottom: 40px;
    left:195px;
}

.plan-change:hover{
    text-decoration: none;
}


.btn {
    display: inline-block;
    width: 70%;
    margin: 0 25px;
    box-shadow:3px 20px 30px hsl(224, 23%, 55%);
    background:  hsl(245, 75%, 52%);
    background-image: -webkit-linear-gradient(top,hsl(223, 47%, 23%));
    background-image: -moz-linear-gradient(top,hsl(223, 47%, 23%));
    background-image: -ms-linear-gradient(top, hsl(223, 47%, 23%));
    background-image: -o-linear-gradient(top,hsl(223, 47%, 23%));
    background-image: linear-gradient(to bottom, hsl(223, 47%, 23%));
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family:"Red Hat Display";
    font-weight: 700;
    color: #ffffff;
    font-size: 1rem;
    padding: 15px 25px;
    text-decoration: none;
    text-align: center;
  }
  
  .btn:hover {
    background:  hsl(224, 23%, 55%);
    background-image: -webkit-linear-gradient(top, hsl(224, 23%, 55%));
    background-image: -moz-linear-gradient(top,  hsl(224, 23%, 55%));
    background-image: -ms-linear-gradient(top,  hsl(224, 23%, 55%));
    background-image: -o-linear-gradient(top,  hsl(224, 23%, 55%));
    background-image: linear-gradient(to bottom,  hsl(224, 23%, 55%));
    text-decoration: none;
  }

.cancel{
    display: inline-block;
    position: relative;
    top: 30px;
    left: 115px;
    font-size: 1rem;
    font-weight: 700;
    font-family:"Red Hat Display";
    text-decoration: none;
}

@media only screen and (min-width: 1000px) and (max-width: 1440px){
    body{
        background-image: url("order_summary/pattern-background-desktop.svg");
    }
    .container{
        margin: 100px auto;
        width: 400px;
        height: 700px;
        border-radius:18px;
        background-color: white;
    }

    .desc-text{
        margin: 18px 23px;
    }

    .desc-subtext{
        margin-top: 3px;
    }

    .plan-prices{
        margin: 40px auto 45px;
        padding: 8px; 
    }

    .music-icon{
        position: relative;
        top: 7px;
    }
    
    .plan-change{
        position: relative;
        bottom: 18px;
        left:10px;
    }
    .plan-type{
        position: relative;
        left: 10px;
        bottom: 25px; 
   }
   .plan-price{
    position: relative;
    right: 80px;
    bottom: 4px;
    font-family:"Red Hat Display";
    padding-bottom: 10px;
   }

   .btn {
    display: inline-block;
    width: 71%;
    margin: -3px 33px;
   }

   .cancel{
    display: inline-block;
    position: relative;
    top: 30px;
    left: 152px;

}

}


