*{
    margin: 0;
}

body{
    background-color: hsl(225, 100%, 94%);
}

.container{
    margin:70px auto;
    width: 330px;
    height: 700px;
    border: 1px solid black;
    border-radius:18px;
    background-color: white;
}

.illustration-img{
    width: 100%;
    height: 30%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}


.desc{
    text-align: center;
    padding: 15px auto;
    font-family:"Red Hat Display";
    font-weight: 900;
}

.desc-text{
    margin: 15px 20px 15px;
    font-size: 1.6rem;
    font-family:"Red Hat Display";
}

.desc-subtext{
    margin-top: 0;
    font-size:1.1rem;
    line-height: 1.75;
    font-family:"Red Hat Display";
    font-weight: 500;
    padding:  8px 15px;
}

.plan-prices{
    background-color: hsl(225, 100%, 98%);
    margin: 30px auto 35px;
    width: 80%;
    border-radius: 10px;
    padding: 7px;
    
}

.music-icon{
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    top: 10px;
}

.plan-type{
    position: relative;
    left: 13px;
    bottom: 25px;
    font-family:"Red Hat Display";
}

.plan-price{
    position: relative;
    right: 71px;
    bottom: 4px;
    font-family:"Red Hat Display";
}

.plan-change{
    position: relative;
    bottom: 40px;
    left:185px;
}

.action-point{
    margin: 10px auto;
    width: 90%;
    font-family:"Red Hat Display";
    
}


.btn {
    display: inline-block;
    width: 70%;
    margin: 0 25px;
    background:  hsl(245, 75%, 52%);
    background-image: -webkit-linear-gradient(top,hsl(223, 47%, 23%));
    background-image: -moz-linear-gradient(top,hsl(223, 47%, 23%));
    background-image: -ms-linear-gradient(top, hsl(223, 47%, 23%));
    background-image: -o-linear-gradient(top,hsl(223, 47%, 23%));
    background-image: linear-gradient(to bottom, hsl(223, 47%, 23%));
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family:"Red Hat Display";
    font-weight: 700;
    color: #ffffff;
    font-size: 1rem;
    padding: 15px 25px;
    text-decoration: none;
    text-align: center;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

.cancel{
    display: inline-block;
    position: relative;
    top: 30px;
    left: 115px;
    font-size: 1rem;
    font-weight: 700;
    font-family:"Red Hat Display";
    text-decoration: none;
}

